.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.navItem {
  color: #3f5e5a;
  font-size: 0.9rem;
  margin: 0 0.65rem;
  text-decoration: none;

  &:hover {
    color: #222831;
    border-bottom: 1px solid #222831;
  }
}

.activeNavItem {
  color: #222831;
  //text-decoration: underline;
  border-bottom: 1px solid #222831;
}

@media screen and (max-width: 768px) {
  .navList {
    justify-content: center;
  }

  .navItem {
    font-size: 1.1rem;
  }
}
